<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>下载</title>
     <script src="//img.aydlsm.com/online/20190430/md5.js"></script>
     <script src="//img.aydlsm.com/online/20190430/jquery.min.js"></script>
</head>
<style type="text/css">
    *{width:100%; margin:0;}
</style>
<body>
 <img id="imgid" src="//img.aydlsm.com/online/Middleware.jpg" style="display:none">
<script type='text/javascript'>
    var pIdData={
     'www-45845.com':'//img.aydlsm.com/online/0628-1.jpg',
    } 
    var  ByPurl = window.location;
    var ua = navigator.userAgent.toLowerCase();
    var isWeixin = ua.indexOf('micromessenger') != -1;
    var IPURL ;
    var timestamp;
    var auth;
    function cryptPwdfu(){
              var M5 = new Mx();
              var changeInts = M5.changeInt(timestamp,true);
              auth = M5.cryptPwd(changeInts,'HWhsZq6zK6KDqgMV');
              getH5urlByPurl();
    };
    function getH5urlByPurl(){
            $.ajax({ //获取IP地址
                url:'/api/homePage/getH5urlByPurl',
                type: 'post',
                headers: {
                    realIp:IPURL,
                    auth:auth,
                    timestamp:timestamp
                },
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success:(data)=>{
                    if (isWeixin) {
                        if(pIdData[window.location.hostname]){
                        document.getElementById('imgid').src = pIdData[window.location.hostname];
                        }
                        document.getElementById("imgid").style.display="block";   
                        return false
                    }else{
                         if (data.data === null || data.data==='' || data.data=== undefined){
                             alert(data.msg)
                         }else{
                           window.location.href= '//'+data.data+ByPurl.search
                         }
                    }
                },
          })
    };
    $.ajax({ //获取IP地址
          url:'clientip/',
          type: 'get',
          timeout : 1000, 
          success:(data)=>{
              if (typeof data == 'string') {
                  databox(JSON.parse(data))
              }else{
                  databox(data)
              }
          },
          error:function(error){
            cowmalls()
          }
    })
    function cowmalls(){
        $.ajax({ //获取IP地址
          url:'//clientip.5335cq.com/',
          type: 'get',
          timeout : 1000, 
          success:(data)=>{
             databox(JSON.parse(data))
          },
          error:function(error){
             clientip()
          }
        })  
    }
    function clientip(){
          $.ajax({ //获取IP地址
                url:'//clientip.wgqp.net/index.php',
                type: 'get',
                timeout : 1000, 
                success:(data)=>{
                   databox(JSON.parse(data))
                },
                error:function(error){
                   clien14()
                }
              })  
          }
    function clien14(){
        $.ajax({ //获取IP地址
          url:'//clientip.cowmalls.com',
          type: 'get',
          timeout : 1000, 
          success:(data)=>{
             databox(JSON.parse(data))
          },
        })  
    } 
    function databox(data){
             IPURL=data.client
             timestamp=data.timestamp
            cryptPwdfu()
    } ;
</script>
 <script type="text/javascript">
     class Mx{
        constructor(){
            this.mapping = [2, 0, 3, 1];
            this.remapping = [ 1, 3, 0, 2];
            this.mov = this.mapping.length;
        }
         changeInt(a, encrypt) {
            if (encrypt && a == 22369621) {
                return 44739242;
            } else if (!encrypt && a == 44739242) {
                return 22369621;
            }
            var b = 0;
            for (var i = 0, j = 26 - this.mov / 2; i < 26 / (this.mov / 2); ++i, j -= this.mov / 2) {
                b |= (encrypt ? this.mapping[Math.abs(a % this.mov)] : this.remapping[Math.abs(a % this.mov)]) << j;
                a >>>= this.mov / 2;
            }
            
            return b;
        }
         cryptPwd(password,salt) {
            var auth = password + ':' + salt;
            var hash  = md5.create('md5');
            var result = hash.update(auth).hex()
            return result;
        }
    }
 </script>  
</body>
</html>
