@charset "utf-8";
*{margin:0;padding:0;word-wrap:break-word;word-break:break-all;}
body{ max-width:640px; margin:0 auto;color:#000; font-family:"Microsoft Yahei";position:relative; background:#fff;}
html, body, h1, h2, h3, h4,input,div,ul,li,p,form,table,dt,dl,dd,tr{list-style-type:none;}
h3,h4{ font-size:14px; font-weight:bold;}
a{color:#000;text-decoration:none;} 
a:hover{color:#000;} 
a img{border:none;} 
em{font-style: normal;font-weight: normal;}
.clear{ clear:both; width:0; height:0;}
input{ outline:none; font-family:"Microsoft Yahei";}

.bg{
	width: 100%;
	height: auto;
	position: absolute;
	left: 0;
	top: 0;
	font-size: 0;
}
.right{ position:absolute; z-index:7; right:-215px; top:120px; width:176px; height:235px; background:
url('') no-repeat; text-align:center; padding:18px;
-moz-box-sizing: border-box; /*Firefox3.5+*/
-webkit-box-sizing: border-box; /*Safari3.2+*/
-o-box-sizing: border-box; /*Opera9.6*/
-ms-box-sizing: border-box; /*IE8*/
box-sizing: border-box; }
@media screen and  (max-width:1000px) {
.left,.right{ display:none;}
}
.bg .right img{ width:100%;}
.bg img{ width:100%; height:auto; display:block; vertical-align:bottom;margin-bottom: -1px; }
.title{ font-size:2rem; color:#fff; font-weight:normal; text-align:center; line-height:100%; padding:1.2rem 0;}
.content{ position:relative; width:100%; height:100%;top:0; left:0; right:0; bottom:0;}

.footer{ width:100%; position:absolute; left:0; bottom:0;}
.footer p{ font-size: .1rem;
    text-align: center;
    color: #fff;
    padding: 0rem 0 .12rem;
}
.footer a{ display:block; width:43%; height:auto; overflow:hidden; margin:0 auto;}

html {
	font-size: 54px;
}

.overlay {
    width: 100%;
    position: fixed;
    bottom: -900px;
    z-index: 999;
    /* display: none; */
  }
  
  .overlay .header {
    background-color: #F3F3F3;
    text-align: center;
    padding: .1rem;
    position: relative;
    font-size: .25rem;
    color: #666666;
    font-weight: bold;
  }
  
  .overlay .header a {
    display: block;
    position: absolute;
    right: .1rem;
    top: .1rem;
    color: #666666;
  }
  
  .overlay .content {
    padding: .15rem;
    background-color: #fff;
  }
  
  .overlay .content .tit {
    margin-top: 0;
    font-size: .25rem;
    color: #666666;
    margin-bottom: .1rem;
  }
  
  .overlay .btn-list {
    position: relative;
  }
  
  .overlay .content #jc {
    text-decoration: underline;
    color: #ee272f;
    font-size: .25rem;
    line-height: .3rem;
    position: absolute;
    bottom: 0;
    right: .2rem;
  }
  
  .overlay .content #btn-trust {
    display: block;
    margin: .2rem auto .2rem auto;
    color: #00A0EC;
    font-size: .25rem;
    border-radius: 3em;
    padding: .2rem;
    width: 40%;
    text-align: center;
    border: 1px solid #00A0EC;
    line-height: .3rem;
  }
  
  .overlay .content .step1 {
    display: block;
    width: 80%;
    margin: 0 auto .2rem auto;
  }
  
  .overlay .content .sign {
    text-decoration: none;
    border: 1px solid #dddddd;
    border-radius: .3em;
    padding: .1rem .2rem;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    margin: 0 auto;
  }
  
  .overlay .sign img {
    display: block;
    width: .8rem;
    height: .8rem;
    margin-right: .3rem;
  }
  
  .overlay .sign p {
    font-size: .3rem;
    color: #B5B5BB;
  }
  
  .overlay .sign p.sign-name {
    width: 80%;
    overflow: hidden;
    color: #000;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .overlay .finger {
    display: block;
    width: .8rem;
    position: relative;
    top: -30px;
    float: right;
    right: 0;
    z-index: 12;
  }
  
  .mask {
    display: none;
    background: rgba(0, 0, 0, .7);
    height: 1000%;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    z-index: 998;
  }
  
  .mask1 {
    display: none;
    background: rgba(0, 0, 0, .5);
    height: 1000%;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    z-index: 1000;
  }
  
  .modal-guide {
    visibility: hidden;
    width: 80%;
    background-color: #fff;
    border-radius: .1rem;
    padding: .25rem;
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    top: 15%;
    margin: 0 auto;
  }
  
  .modal-guide h3 {
    font-size: .4rem;
    text-align: center;
    margin-bottom: .25rem;
  }
  
  .swiper-slide {}
  
  .modal-guide .swiper-slide {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    box-orient: horizontal;
    -moz-box-pack: justify;
    -webkit-box-pack: justify;
    -o-box-pack: justify;
    box-pack: justify;
    -moz-box-align: center;
    -webkit-box-align: center;
    -o-box-align: center;
    box-align: center;
  }
  
  .modal-guide .swiper-slide .step-ipad {
    display: none;
  }
  
  .tips {
    position: absolute;
    bottom: .1rem;
    height: .23rem;
    width: 100%;
    color: #e5ca90;
    line-height: .23rem;
    font-size: .23rem;
    text-align: center;
  }
  
  /*微信提示*/
  
  .top_ddd {
    background-color: #464b4c;
    width: 100%;
    padding: 20px 0 80px 0;
    display: block;
  }
  
  @media (device-height:480px) and (-webkit-min-device-pixel-ratio:2) {
    .top_ddd div {
      width: 50%;
      text-align: left;
      margin: 0 auto;
      color: white;
      font-size: 1.15em;
      font-weight: bold;
    }
  }
  
  @media (device-height:568px) and (-webkit-min-device-pixel-ratio:2) {
    /* 兼容iphone5 */
    .top_ddd div {
      width: 62%;
      text-align: left;
      margin: 0 auto;
      color: white;
      font-size: 1.0em;
      font-weight: bold
    }
  }
  
  @media (device-height:667px) and (-webkit-min-device-pixel-ratio:2) {
    /* 兼容iphone6 */
    .top_ddd div {
      width: 62%;
      text-align: left;
      margin: 0 auto;
      color: white;
      font-size: 1.15em;
      font-weight: bold
    }
  }
  
  @media (device-height:736px) and (-webkit-min-device-pixel-ratio:2) {
    /* 兼容iphone6 Plus */
    .top_ddd div {
      width: 62%;
      text-align: left;
      margin: 0 auto;
      color: white;
      font-size: 1.3em;
      font-weight: bold
    }
  }
  
  .top_ddd {
    position: fixed;
    height: 300%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.84);
    z-index: 10;
    text-align: center;
    left: 0;
    bottom: 0;
    z-index: 999;
  }
  
  .top_ddd img {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
  }
  
  
  .logo {
    z-index: 99;
    position: absolute;
    width: 275px;
    height: 35px;
    left: 10px;
    top: 10px;
  }
  
  .logo img {
    height: 35px;
    display: block;
    margin:1px;
  }